<div class="footer-whole desktop">
    <div class="footer-navbar">
        <ul class="navabr-ul" id="first">
            <li><a href="/privacy-policy" class="ul-li">Privacy Policy</a></li>
            <li><a href="/cookies-policy" class="ul-li">Cookies Policy</a></li>
            <li><a href="/terms-of-use" class="ul-li">Terms of Use</a></li>
        </ul>
        <ul class="navbar-ul">
            <li><a href="/index" class="ul-li">Home</a></li>
            <li><a href="/about" class="ul-li">About</a></li>
            <li><a href="/contact" class="ul-li">Contact</a></li>
            <li><a href="/login" class="ul-li">Log in</a></li>
        </ul>
    </div>
    <div class="footer-author">
        <div class="author-info">
            developed by Norbert Sviatko<br>
            2021 © all rights reserved            
        </div>
    </div>
</div>