
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">    
    <link rel="shortcut icon" type="image/x-icon" href="/title_icon.png" >  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sigred | <%= title %></title>