
    <div class="routes" id="routes">
        <div class="mobile-close-routes" id="mobile-close-routes">
            <img src="close.svg" alt="">
        </div>
        <a href="/index" class="route">Home</a>
        <a href="/about" class="route">About</a>
        <a href="/contact" class="route">Contact</a>
        <a href="/help-centre" class="route">Help Centre</a>
        <a href="/login" class="route">Log in</a>
    </div>