<div class="sidebar">
    <div class="sidebar-socials">
        <a href=""><img src="/ig_icon_2.png" alt="Instagram"></a>
        <a href="/contact"><img src="/mail_icon_2.png" alt="E-mail"></a>      
    </div>
</div>