<div class="sidebar">
    <div class="sidebar-socials">
        <a href="https://www.instagram.com/sigred.inc/" target="_blank"><img src="/ig_icon.svg" alt="Instagram"></a>
        <a href="/contact"><img src="/mail_icon.svg" alt="E-mail"></a>      
    </div>
</div>