<div class="stripes" id="stripes">
    <div class="stripes-stripe" id="stripe-1">Safely.</div>
    <div class="stripes-stripe" id="stripe-2">Simply.</div>
    <div class="stripes-stripe" id="stripe-3">Fast.</div>
</div>