*{
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 480px) {
    .message {
        display: none;
    }
}

@media only screen and (min-width: 1385px) {
    .message {
        position: absolute;
        min-width: 700px;
        width: 70vw;
        max-width: 70vw;
        min-height: 650px;
        height: 65vh;
        max-height: 65vh;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        background-color: #fff;
        border-radius: 2vw;
        box-shadow:  5px 5px 10px rgba(53, 53, 53, 0.25),
                    -5px 5px 10px rgba(53, 53, 53, 0.25),
                    5px -5px 10px rgba(53, 53, 53, 0.25),
                    -5px -5px 10px rgba(53, 53, 53, 0.25),
                    5px 5px 10px rgba(53, 53, 53, 0.30) inset,
                    -5px -5px 10px rgba(53, 53, 53, 0.30) inset;
    
        z-index: 99999;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 40px;
    }
    .message-close {
        position: absolute;
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    .message form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .message form > *  {
        user-select: text;
        resize: none;
        min-width: 450px;
        max-width: 450px;
        font-size: 1rem;
        border-radius: 10px;
        padding: 15px;
        outline: none;
        border: none;
        background-color: transparent;
        margin: 20px 0;
        color: #0a5a55;
        box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.295),
                    -5px -5px 10px rgba(155, 155, 155, 0.096),
                    -2.5px -2.5px 3px rgba(155, 155, 155, 0.200),
                    inset 5px 5px 10px rgba(155, 155, 155, 0.295),
                    inset -5px -5px 10px rgba(155, 155, 155, 0.096),
                    inset -2.5px -2.5px 3px rgba(155, 155, 155, 0.110);
        scrollbar-width: none; 
        scroll-behavior: smooth; 
    }
    .message form button {
        font-weight: 1000;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.295),
                    -5px -5px 10px rgba(155, 155, 155, 0.295),
                    -2.5px -2.5px 3px rgba(155, 155, 155, 0.180),
                    inset 5px 5px 10px rgba(155, 155, 155, 0.096),
                    inset 2.5px 2.5px 3px rgba(155, 155, 155, 0.160),
                    inset -5px -5px 10px rgba(155, 155, 155, 0.096),
                    inset -2.5px -2.5px 3px rgba(155, 155, 155, 0.120);
    }
}
