*{
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 480px) {
    .message {
        display: none;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        padding: 15px;
        position: static;
        min-width: calc(100vw - 30px);
        max-width: calc(100vw - 30px);
        min-height: calc(87vh - 30px);
        max-height: calc(87vh - 30px);
        margin-left: 15px;
        margin-bottom: 15px;
        background-color: #fff;
        border-radius: 15px;
        z-index: 9999;
        box-shadow:  10px 10px 20px #052c2928,
                    10px 10px 20px #052c2928,
                    10px -10px 20px #052c2928,
                    -10px 10px 20px #052c2928,
                    5px 5px 10px #182c182d inset,
                    -5px -5px 10px #182c182d inset;
    }
    .message-close {
        min-width: 30px;
        max-width: 30px;
        position: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .message form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
        padding: 10px;
        min-width: calc(100vw - 50px);
        max-width: calc(100vw - 50px);
    }
    .message form > * {
        user-select: text;
        resize: none;
        font-size: 20px;
        border-radius: 10px;
        padding: 15px;
        outline: none;
        border: none;
        background-color: transparent;
        margin: 10px 0;
        background: #fff;
        box-shadow: -5px -5px 10px #4141411f,
                    inset 5px 5px 10px #41414153,
                    inset 2.5px 2.5px 5px #4141411f;
        color: #0a5a55;
        scrollbar-width: none; 
        scroll-behavior: smooth; 
    }
    .message form .submit-message-button {
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:  2.5px 2.5px 5px #04221f15,
                    2.5px 2.5px 5px #04221f15,
                    2.5px -2.5px 5px #04221f15,
                    -2.5px 2.5px 5px #04221f15,
                    2.5px 2.5px 5px #04221f2d inset,
                    -2.5px -2.5px 5px #04221f2d inset;
    }
}

@media only screen and (min-width: 1385px) {
    .message {
        position: absolute;
        min-width: 700px;
        width: 70vw;
        max-width: 70vw;
        min-height: 650px;
        height: 65vh;
        max-height: 65vh;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        background-color: #fff;
        border-radius: 2vw;
        box-shadow:  5px 5px 10px rgba(53, 53, 53, 0.25),
                    -5px 5px 10px rgba(53, 53, 53, 0.25),
                    5px -5px 10px rgba(53, 53, 53, 0.25),
                    -5px -5px 10px rgba(53, 53, 53, 0.25),
                    5px 5px 10px rgba(53, 53, 53, 0.30) inset,
                    -5px -5px 10px rgba(53, 53, 53, 0.30) inset;
    
        z-index: 99999;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 40px;
    }
    .message-close {
        position: absolute;
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    .message form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .message form > *  {
        user-select: text;
        resize: none;
        min-width: 450px;
        max-width: 450px;
        font-size: 1rem;
        border-radius: 10px;
        padding: 15px;
        outline: none;
        border: none;
        background-color: transparent;
        margin: 20px 0;
        color: #0a5a55;
        box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.295),
                    -5px -5px 10px rgba(155, 155, 155, 0.096),
                    -2.5px -2.5px 3px rgba(155, 155, 155, 0.200),
                    inset 5px 5px 10px rgba(155, 155, 155, 0.295),
                    inset -5px -5px 10px rgba(155, 155, 155, 0.096),
                    inset -2.5px -2.5px 3px rgba(155, 155, 155, 0.110);
        scrollbar-width: none; 
        scroll-behavior: smooth; 
    }
    .message form button, .message form .submit-message-button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 1000;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.295),
                    -5px -5px 10px rgba(155, 155, 155, 0.295),
                    -2.5px -2.5px 3px rgba(155, 155, 155, 0.180),
                    inset 5px 5px 10px rgba(155, 155, 155, 0.096),
                    inset 2.5px 2.5px 3px rgba(155, 155, 155, 0.160),
                    inset -5px -5px 10px rgba(155, 155, 155, 0.096),
                    inset -2.5px -2.5px 3px rgba(155, 155, 155, 0.120);
    }
}
